.icon {
    font-style: normal;
    margin-right: 5px;
    line-height: 1em;
}

.politician:before {
    content: '⬠';
}

.politicianWithBusiness:before {
    content: '⬟';
    color: #F00;
}

.org {
    line-height: 1em;
    vertical-align: middle;
}

.org:before {
    content: "●";
    font-size: 1.7em;
    vertical-align: top;
}