.icon {
    font-style: normal;
    margin-right: 5px;
    line-height: 1em;
}

.politician:before {
    content: '△';
    color: #E5E5E5;
}

.politicianWithFewBusiness:before {
    content: '▲';
    color: #88CFFA;
}

.politicianWithBusiness:before {
    content: '▲';
    color: #1265FB
}

.org {
    line-height: 1em;
    vertical-align: middle;
}

.org:before {
    content: "●";
    font-size: 1.7em;
    vertical-align: top;
}