@font-face {
  font-family: 'Noto Sans Thai';
  src: url("assets/fonts/NotoSansThaiUI-Regular.woff2") format("woff2"), url("assets/fonts/NotoSansThaiUI-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url("assets/fonts/NotoSansThaiUI-Bold.woff2") format("woff2"), url("assets/fonts/NotoSansThaiUI-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: 'The Matter';
  src: url("assets/fonts/thematter-bold.woff2") format("woff2"), url("assets/fonts/thematter-bold.woff") format("woff");
  font-weight: bold;
}

h1, h2 {
  font-family: 'Libre Baskerville', 'The Matter', serif;
}