.background {
    height: 100%;
    padding-top: 10%;

    background-color: #E9E9E9;
    background-image: url(../assets/images/cover.svg);
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 48px;
    /* width: 40%; */
}

.logoContainer {
    padding: 0
}

.logoContainer li {
    display: inline-block;
}

.partyLogoContainer {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.partyLogo {
    vertical-align: middle;
    width: 40px;
    float: left;
}

.partyName {
    line-height: 40px;
}

.selectContainer {
    text-align: left;
    margin: 10px auto;
    width: 400px;
    font-size: 20px;
}

.selectElement :global {
    .react-select__control {
        padding: 5px;
        border-radius: 0px;
    }

    .react-select__placeholder {
        color: #ED354F;
    }

    .react-select__option {
        cursor: pointer;
        height: 60px;
    }
}