.container h1 {
    text-align: center;
}
.logoContainer {
    padding: 0
}

.logoContainer li {
    display: inline-block;
}

.partyLogo {
    width: 80px;
    margin: 10px;
}

.partyLogo:hover {
    border: 1px solid black;
}