.normalLink {
  opacity: 0.0;
  stroke-width: 1;
  stroke: #AAA;
  stroke-linecap: round;
}

.politician {
  fill: #FFF;
  stroke: black;
  opacity: 0.1;
}

.tooltip {
  background: black;
  color: white;
  padding: 5px;
  font-size: 14px;
  position: absolute;
  z-index: 100;
}

.nonGovInvolvedOrg {
  stroke: #E5E5E5;
  stroke-width: 1px;
  fill: white;
}

.politicianInvolvedWithBusiness {
  stroke: none;
  fill: #F00;
  opacity: 1;
}

.highlight {
  stroke: #000 !important;
  stroke-width: 2px;
  opacity: 1 !important;
}

.linkHighlight {
  stroke: #BBB;
  stroke-width: 1px;
  stroke-dasharray: none;
  opacity: 0.7;
}

.permanentLinkHighlight {
  stroke: #888;
  stroke-width: 1px;
  stroke-dasharray: none;
  opacity: 1;
}

.permanentHighlight {
  stroke: black !important;
  stroke-width: 1px;
}

.selectionTooltip {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
  font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
  border: 0.5px solid #E1E1E2;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}