.politician {
    fill: #FFF;
    stroke: black;
    opacity: 0.2;
}

.politicianInvolvedWithBusiness { 
    fill: #F00;
    opacity: 1;
}

.highlight {
  stroke: black;
  stroke-width: 2px;
  opacity: 1;
}

.linkHighlight {
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: none;
  opacity: 1;
}