.normalLink {
  opacity: 0.0;
  stroke-width: 1;
  stroke: #AAA;
  stroke-linecap: round;
}

.politician {
    fill: #FFF;
    stroke: black;
    opacity: 0.1;
}

.politicianInvolvedWithBusiness { 
    stroke: none;
    fill: #F00;
    opacity: 1;
}

.highlight {
  stroke: #000 !important;
  stroke-width: 2px;
  opacity: 1 !important;
}

.linkHighlight {
  stroke: #BBB;
  stroke-width: 1px;
  stroke-dasharray: none;
  opacity: 1;
}

.permanentLinkHighlight {
  stroke: #888;
  stroke-width: 1px;
  stroke-dasharray: none;
  opacity: 1;
}

.permanentHighlight {
  stroke: black !important;
  stroke-width: 3px;
  opacity: 1;
}