.button {
    width: 80px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;

    font-size: 13px;
    color: #747474;
    background: #ffffff;
    border: 1px solid #E1E1E2;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 #C3C3C3;
}

.buttonContainer {
    text-align: center;
    margin-bottom: 20px;
}

.searchPartyImage {
    margin-left: 5px;
    width: 20px;
    vertical-align: middle;
}

.searchBox {
    width: 100%;
    padding: 5px;
}

.toolBarContainer {
    margin-top: 100px;
    margin-bottom: 50px;
}

.legendContainer {
    margin-top: 100px;
    font-size: 14px;
    float: right;
    padding: 5px;
    width: 20%;
    margin-right: 1%;
    line-height: 20px;
}

.legendSection {
    margin-top: 10px;
}

.legendSectionHeader {
    margin-bottom: 5px;
}

.legendSectionDetails {
    font-size: 13px;
}

.legendLabel i {
    margin-right: 10px;
}

.legendLabel {
    color: #747474;
}

.legendLabel b:after {
    content: ":"
}

.legendSymbolSizeContainer {
    margin: 20px 0;
    text-align: center;
}

.legendSymbolSizeImg {
    vertical-align: middle;
    width: 80px;
}

.footerContainer {
  margin-top: 40px;
  font-size: 12px;
}

.footerContainer a {
    color: black;
    text-decoration: none;
}

.footerSeparator {
  display: inline-block;
  margin: 0 10px;
  font-size: 15px;
  vertical-align: middle;
}

.footerContainer img {
    width: 70px;
    vertical-align: middle;
    margin-top: -6px;
}

.footerContainer a {
  text-decoration: underline;
}


.shareButtonsContainer {
    margin-top: 10px;
    text-align: center;
}

:global {
    .SocialMediaShareButton {
        width: 32px;
        display: inline-block;
        cursor: pointer;
        margin: 0 5px;
    }
}