.party {
  padding: 5px 10px;
  position: relative;
}

.title {
  text-align: center;
}

.descBox {
  float: left;
  width: 350px;
}

.description {
  margin-top: 10px;
}

.descDetails {
  text-indent: 2em;
  line-height: 28px;
}

.d3Container {
  position: absolute;
  margin-left: 25%;
  text-align: center;
  min-height: 600px;
}

.optionStyle {
  padding: 5px;
}

.optionStyle:hover {
  background: #EEE;
}

.partyLogoContainer {
  text-align: center;
}

.partyLogo {
  width: 150px;
}

.topListContainer {
  margin-top: 20px;
}

.topListUL {
  margin: 0px;
  padding-left: 2em;
  list-style: none;
  text-align: left;
}

.topListUL li {
  list-style: none;
  margin-right: 5px;
}

.topListUL li div {
  text-indent: 0;
}

.topListUL li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.legendContainer {
  padding: 5px;
  position: absolute;
  top: 30px;
  right: 10px;
  max-width: 300px;
  line-height: 20px;

}

.legendSection {
  margin-top: 10px;
}

.clear { 
  clear: both;
}

.legendColorCode {
  margin-right: 5px;
  display: inline-block;
}

.imageContainer {
  display: inline-block;
  border-radius: 50%;
  background: url(https://elect.in.th/candidates/statics/party-logos/dummy.png);
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin-left: 10px;
  vertical-align: middle;
}

.politicianImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.footerContainer {
  margin-top: 40px;
  padding: 20px;
  font-size: 12px;
}

.footerContainer a {
    color: black;
    text-decoration: none;
}

.footerContainer img {
    width: 70px;
    vertical-align: middle;
    margin-top: -6px;
}

.legendSymbolSizeContainer {
  text-align: center;
}

.legendSymbolSizeImg {
  vertical-align: middle;
  width: 80px;
}