.party {
  padding: 5px 10px;
  position: relative;
}

.title {
  text-align: right;
}

.descBox {
  float: right;
  width: 30%;
}

.description {
  margin-top: 10px;
}

.descDetails {
  text-indent: 2em;
}

.d3Container {
  text-align: center;
  margin-left: 10%;
  min-height: 600px;
}

.optionStyle {
  padding: 5px;
}

.optionStyle:hover {
  background: #EEE;
}

.partyLogoContainer {
  text-align: center;
}

.partyLogo {
  width: 150px;
}

.topListContainer {
  margin-top: 20px;
}

.topListUL {
  margin: 0px;
  padding-left: 2em;
  list-style: none;
  text-align: left;
}

.topListUL li {
  list-style: none;
  margin-right: 5px;
}

.topListUL li div {
  text-indent: 0;
}

.topListUL li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.legendContainer {
  padding: 5px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.3;
  max-width: 280px;

  transition: opacity 0.2s ease-in-out;
}

.legendContainer:hover {
  opacity: 0.8;
}

.legendSection {
  margin-top: 10px;
}

.clear { 
  clear: both;
}

.legendColorCode {
  margin-right: 5px;
  display: inline-block;
}