.main {
  padding: 5px;
  text-align: center;
}

.headerContainer {
  /* margin-bottom: 10px; */
}

.subHeaderContainer {
  margin-top: 0px;
  font-weight: normal;
  color: #747474;
}


.imageContainer {
  display: inline-block;
  border-radius: 50%;
  background: url(https://elect.in.th/candidates/statics/party-logos/dummy.png);
  width: 100px;
  height: 100px;
  background-size: 50px 50px;
  margin-left: 10px;
  vertical-align: middle;
  margin-bottom: 20px;
}


.politicianImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  vertical-align: middle;
}

.partyLogo {
  width: 50px;
  vertical-align: middle;
}

.footer {
  /* color: #F0324B; */
  margin-top: 20px;
  /* font-size: 13px; */
}

.footer a, .footer a:visited {
  /* color: #F0324B; */
}

.footer div {
  margin-bottom: 5px;
}