<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <meta name="description" content="">
    <meta name="keywords" content="การเมือง, เลือกตั้ง, ประชาธิปไตย, การเมืองไทย, election, politics, democracy, thai politics, visualization, infographic, interactive, data journalism">
    <meta name="author" content="elect.in.th">

    <!-- for Facebook -->
    <meta property="fb:app_id" content="171048360504115">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://<%= process.env.publicPath %>/assets/images/cover.png">
    <meta property="og:url" content="https://<%= process.env.publicPath %>/">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.desc %>">

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.desc %>">
    <meta name="twitter:image" content="https://<%= process.env.publicPath %>/assets/images/cover.png">
  </head>
  <body class="index">
    <div id='app'></div>
  </body>
</html>
